<div class="top_bg">
    <div class="container">
        <div class="header_top-sec">
            <div class="top_right">
                <ul>
                    <li><a href="#">Aide</a></li>|
                    <li><a href="contact.html">Contact</a></li>{#|
                    <li><a href="login.html">Track Order</a></li>#}
                </ul>
            </div>
            <div class="top_left">
                <ul>
                    <li class="top_link">Email:<a href="mailto:vsilvestre@efficom-lille.com">vsilvestre@efficom-lille.com</a></li>|
                    <li class="top_link"><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="header-top">
    <div class="header-bottom">
        <div class="container">
            <div class="logo">
                <a href="{{ path('app_bundle_homepage') }}"><h1>Floris - fleuriste</h1></a>
            </div>

            <div class="top-nav">
                <ul class="memenu skyblue"><li class="active"><a href="{{ path('app_bundle_homepage') }}">Accueil</a></li>
                    <li class="grid"><a href="{{ path('app_bundle_shop') }}">Magasin</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Fleurs</h4>
                                    <ul>
                                        <li><a href="product.html">New Arrivals</a></li>
                                        <li><a href="product.html">Men</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Plantes</h4>
                                    <ul>
                                        <li><a href="product.html">Men</a></li>
                                        <li><a href="product.html">Women</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Accesoires</h4>
                                    <ul>
                                        <li><a href="product.html">Levis</a></li>
                                        <li><a href="product.html">Persol</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="#">Promotions</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Shop</h4>
                                    <ul>
                                        <li><a href="product.html">New Arrivals</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="product.html">Men</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="product.html">Levis</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="typo.html">Typo</a></li>
                    <li class="grid"><a href="contact.html">Contact</a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <!---->
            <div class="cart box_1">
                <a href="{{ path('app_cart_see') }}" data-href="{{ path('app_cart_see') }}" id="checkout">
                    <h3>
                        <div class="total">0</div>
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    </h3>
                </a>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <!---->
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
