{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="checkout">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_bundle_homepage') }}">Home</a></li>
                <li class="active">Cart</li>
            </ol>
            <div class="col-md-9 product-price1">
                <div class="check-out">
                    <div class=" cart-items">
                        <h3>Mon panier</h3>
                        <script>$(document).ready(function (c) {
                                $('.close1').on('click', function (c) {
                                    $('.cart-header').fadeOut('slow', function (c) {
                                        $('.cart-header').remove();
                                    });
                                });
                            });
                        </script>
                        <script>$(document).ready(function (c) {
                                $('.close2').on('click', function (c) {
                                    $('.cart-header1').fadeOut('slow', function (c) {
                                        $('.cart-header1').remove();
                                    });
                                });
                            });
                        </script>

                        <div class="in-check">
                            <ul class="unit">
                                <li><span>Produit</span></li>
                                <li><span>Nom</span></li>
                                <li><span>Prix unitaire</span></li>
                                <li><span>Quantité</span></li>
                                <li></li>
                                <div class="clearfix"></div>
                            </ul>
                            {% for item in products %}
                                <ul class="cart-header">
                                    <div class="close1"></div>
                                    <li class="ring-in">
                                        <a href="single.html">
                                            <img src="{{ item.product.image }}" class="img-responsive" alt="">
                                        </a>
                                    </li>
                                    <li><span>{{ item.product.name }}</span></li>
                                    <li><span>
                                            {% if item.promotion is not null %}
                                                {{ item.product.PriceHt }} - {{ item.promotion.taux }}€
                                            {% else %}
                                                {{ item.product.PriceHt }}€
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li><span>{{ item.quantity }}</span></li>
                                    <li><a href="{{ path('app_cart_remove', {'id' : item.product.id }) }}" class="add-cart cart-check">Supprimer</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cart-total">
                <a class="continue" href="{{ path('app_bundle_shop') }}">Continuer mes achats</a>
                <h4 class="last-price">TOTAL</h4>
                <span class="total final">{{ total }}€</span>
                <div class="clearfix"></div>
                <a class="order" href="#">Valider le panier</a>
            </div>
        </div>
    </div>
{% endblock %}